<div id="<%= dom_id medical_history %>">
  <p>
    <strong>Content:</strong>
    <%= medical_history.content %>
  </p>

  <p>
    <strong>Pet:</strong>
    <%= medical_history.pet_id %>
  </p>

  <p>
    <strong>Appointment:</strong>
    <%= medical_history.appointment_id %>
  </p>

</div>
