<h1>Editing medical history</h1>

<%= render "form", medical_history: @medical_history %>

<br>

<div>
  <%= link_to "Show this medical history", @medical_history %> |
  <%= link_to "Back to medical histories", medical_histories_path %>
</div>
